<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Chat TCP</title>
    <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/socket.io.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/chat.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/chat.css') }}">
</head>
<body>
    <div class="container">
        <h1>Sejam bem-vindos!</h1>

        <p id="hora-local"></p>

        <div id="messages">
            
        </div>

        <div class="input-group">
            <input type="text" id="user_name" placeholder="Nome de Usuário">
            <input type="text" id="message" placeholder="Mensagem">
            <button id="enviar_btn">Enviar</button>
        </div>
    </div>

  <!--  <script>
        function atualizarHorario() {
            var data = new Date();
            var horas = data.getHours();
            var minutos = data.getMinutes();
            var segundos = data.getSeconds();

            horas = (horas < 10) ? "0" + horas : horas;
            minutos = (minutos < 10) ? "0" + minutos : minutos;
            segundos = (segundos < 10) ? "0" + segundos : segundos;

            document.getElementById("hora-local").textContent = horas + ":" + minutos + ":" + segundos;
        }

        setInterval(atualizarHorario, 1000);

        window.onload = atualizarHorario;
    </script>

    <script type="text/javascript">
        $(document).ready(function(){
            var socket = io("http://localhost:1452");

            socket.on('connect', function(){
                socket.send("User connected!");
            });

            socket.on('user_connected', function(data){
                socket.send('User connected: ' + data.user_count);
                $('#message').val('');
            });

            socket.on('user_disconnected', function(data){
                socket.send('User disconnected: ' + data.user_count);
                $('#message').val('');
            });

            socket.on('message', function(data){
                $('#messages').append($('<p>').text(data));
            });

            $('#enviar_btn').on('click', function(){
                socket.send($('#user_name').val() + ': ' + $('#message').val());
                $('#message').val('');
            });
        });
    </script>
    -->
</body>
</html>