<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
</head>

<body>
    <br><br><br><br>

    <div id="logo">
        <img src="{{ url_for('static', filename='assets_web/usuario_login.png') }}" alt="" width="300px">
    </div>
    <br><br><br><br>

    <div id="box_formulario">
        <div class="formulario">
            <div class="label_login">
                <label for=""> LOGIN </label>
            </div>
            <div class="containerForm">
                <div class="labelsForm">
                    <label for="endereco_ip" id="l_endereco_ip">Endereço IP: </label>
                    <label for="porta" id="l_porta">Porta: </label>
                    <label for="nome_usuario" id="l_nome_usuario">Nome do Usuario: </label>
                </div>

                <div class="textBoxForm">
                    <input type="text" id="endereco_ip">
                    <input type="text" id="porta">
                    <input type="text" id="nome_usuario">
                </div>
            </div>
            <div class="div_login_servidor">
                <button class="button_login_servidor" onclick="login()">Entrar</button>
            </div>
        </div>
    </div>

    <script>
        async function login() {
            const enderecoIp = document.getElementById('endereco_ip').value;
            const porta = document.getElementById('porta').value;
            const nomeUsuario = document.getElementById('nome_usuario').value;
        
            try {
                const response = await fetch('/login', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/x-www-form-urlencoded'
                    },
                    body: new URLSearchParams({
                        endereco_ip: enderecoIp,
                        porta: porta,
                        nome_usuario: nomeUsuario
                    })
                });
        
                if (response.ok) {
                    window.location.href = '/chat'; // Redireciona para a página de chat após o login bem-sucedido
                } else {
                    alert('Usuário ou senha inválidos');
                }
            } catch (error) {
                console.error('Erro ao fazer login:', error);
            }
        }
    </script>
</body>
</html>